* {
  padding: 0px;
  border: 0px;
  margin: 0px;
  background-color: #286399;
}
.head {
  padding: 25px;
}
.head img {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 60%;
}
#search {
  display: inline-block;
  vertical-align: middle;
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
  width: 15%;
}
.head input {
  background-color: white;
  width: 80%;
}
.head button {
  padding: 5px;
}
.navbar {
  width: 80%;
  margin-left: 10%;
}
.navbar ul {
  background-color: teal;
  padding: 10px;
  border-radius: 15px;
}
.navbar li {
  display: inline-block;
  vertical-align: top;
  background-color: teal;
  padding: 10px;
}
.navbar h2 {
  background-color: teal;
  margin-right: 35px;
  margin-left: 20px;
  color: white;
}
.left,
.right {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  text-align: center;
}
.bodytop {
  padding: 10px;
  color: white;
}
.right {
  width: 60%;
  margin-left: 5%;
}
.left {
  margin-left: 12%;
  text-decoration: underline;
}
.right h3 {
  color: yellow;
  padding: 10px;
  font-style: italic;
}
.left li,
.right h4 {
  padding: 10px;
}
.bodybottom {
  background-color: white;
  padding: 20px;
}
.bottomleft,
.bottomright {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 20px;
  background-color: white;
  border-top: 5px solid #286399;
  margin-right: 10%;
}
.bottomleft p,
.bottomright p,
.bottomleft li,
.bottomright li,
.bodybottom h2,
span {
  background-color: white;
  text-align: center;
}
.bottomleft,
.footer {
  margin-left: 12%;
}
.bodybottom li,
span {
  color: #286399;
}
.footer,
.footer h3 {
  background-color: #286399;
  color: aquamarine;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}
.footer {
  margin-left: 25%;
}
